# Database Configuration
DB_ROOT_PASSWORD=root
DB_NAME=amen_bank
DB_USER=root
DB_PASSWORD=root

# Backend Configuration
BACKEND_PORT=8443
JWT_SECRET=aW1wb3J0YW50LXNlY3JldC1rZXktZm9yLWFtZW4tYmFuay1hcHBsaWNhdGlvbi0yMDI2LXNlY3VyZS1rZXktbXVzdC1iZS1sb25n

# Chatbot Configuration
CHATBOT_PORT=8000
OLLAMA_MODEL=llama3.2:1b

# Frontend Configuration
FRONTEND_PORT=80
